<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stockflux">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".sales_expense_item_details"
            android:exported="false"
            android:label="Sales Expenses Details"
            android:parentActivityName=".sales_expense_reports" />
        <activity
            android:name=".purchase_expense_item_details"
            android:exported="false"
            android:label="Purchase Expenses Details"
            android:parentActivityName=".purchase_expense_reports" />
        <activity
            android:name=".sales_product_view_details"
            android:exported="false"
            android:label="Sales Product View Details"
            android:parentActivityName=".activity_sales_view"/>
        <activity
            android:name=".prodcut_card_view_details"
            android:exported="false"
            android:label="Purchase Products Details"
            android:parentActivityName=".purchase_view" />
        <activity
            android:name=".purchase_view"
            android:exported="false"
            android:label="Purchase Details"
            android:parentActivityName=".purchase_menu" />
        <activity
            android:name=".reset_password"
            android:exported="false"
            android:label="Reset Password"
            android:parentActivityName=".activity_forget_password" />
        <activity
            android:name=".user_account"
            android:exported="false"
            android:label="User Account"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".profit_loss"
            android:exported="false"
            android:label="Profit / Loss"
            android:parentActivityName=".reports" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:label="Register" />
        <activity
            android:name=".activity_forget_password"
            android:exported="false"
            android:label="Forget Password"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name=".purchase_menu"
            android:exported="false"
            android:label="Purchase Menu"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity_add"
            android:exported="false"
            android:label="Purchase Add"
            android:parentActivityName=".purchase_menu" />
        <activity
            android:name=".activity_expense"
            android:exported="false"
            android:label="Add Purchase Expenses"
            android:parentActivityName=".purchase_menu" />
        <activity
            android:name=".update_purchase_details"
            android:exported="false"
            android:label="Update Purchase Details"
            android:parentActivityName=".activity_view" />
        <activity
            android:name=".activity_sales_home"
            android:exported="false"
            android:label="Sales Menu"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".sales_add"
            android:exported="false"
            android:label="Add Sales Items"
            android:parentActivityName=".activity_sales_home" />
        <activity
            android:name=".activity_expense_sales"
            android:exported="false"
            android:label="Add Sales Expenses"
            android:parentActivityName=".activity_sales_home" />
        <activity
            android:name=".activity_sales_view"
            android:exported="false"
            android:label="Sales Items View"
            android:parentActivityName=".activity_sales_home" />
        <activity
            android:name=".update_sales_details"
            android:exported="false"
            android:label="Update Sales Details"
            android:parentActivityName=".activity_sales_view" />
        <activity
            android:name=".make_bill_sales"
            android:exported="false"
            android:label="Bill"
            android:parentActivityName=".activity_sales_view" />
        <activity
            android:name=".reports"
            android:exported="false"
            android:label="Reports"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".product_reports"
            android:exported="false"
            android:label="Product&apos;s Reports"
            android:parentActivityName=".reports" />
        <activity
            android:name=".update_sales_expense"
            android:exported="false"
            android:label="Update Sales Expenses"
            android:parentActivityName=".sales_expense_reports" />
        <activity
            android:name=".sales_expense_reports"
            android:exported="false"
            android:label="Sales Expenses View"
            android:parentActivityName=".expense_reports" />
        <activity
            android:name=".update_purchase_expense"
            android:exported="false"
            android:label="Update Purchase Expenses"
            android:parentActivityName=".purchase_expense_reports" />
        <activity
            android:name=".purchase_expense_reports"
            android:exported="false"
            android:label="Purchase Expenses View"
            android:parentActivityName=".expense_reports" />
        <activity
            android:name=".expense_reports"
            android:exported="false"
            android:label="Expenses Reports"
            android:parentActivityName=".reports" />
    </application>

</manifest>